@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    Fixmeet is a social platform that saves you time and money, and connects you to your nearest service providers, quickly and easily.
</p>
