@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FixMeet</h1>
    <h3>Welcome!</h3>
    <p class="lead">FixMeet is a free web framework for connecting between Customers and Suppliers in a various of categories.</p>
</div>
